@using Abp.Authorization.Users
@using MPACore.PhoneBook.Web.Models.Common.Modals
@using MPACore.PhoneBook.Web.Models.Persons
@model MPACore.PhoneBook.Web.Models.Persons.CreateOrEditPersonModalViewModel
@{
    Layout = null;
}
@Html.Partial("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? ("编辑联系人" + ": " + Model.Person.Name) : "新增联系人"))
<div class="modal-body">
    <form name="PersonInfomationForm" role="form" novalidate class="form-validation">

       
        @if (Model.IsEditMode)
        {
            <input type="hidden" name="Id" value="@Model.Person.Id" />
        }
      
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane animated fadeIn active" id="edit-user-details">
                <div class="row clearfix" style="margin-top: 10px;">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input class="form-control" type="text" value="@Model.Person.Name" name="Name" required  minlength="2">
                                <label class="form-label">@L("Name")</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input class="form-control" type="text" name="EmailAddress" value="@Model.Person.EmailAddress" required  minlength="2">
                                <label class="form-label">@L("EmailAddress")</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input class="form-control" type="text" name="Address" value="@Model.Person.Address" required  minlength="2">
                                <label class="form-label">@L("Address")</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>
@Html.Partial("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
<script src="~/view-resources/Views/Users/_EditUserModal.js" asp-append-version="true"></script>
